{% extends 'base.html' %}
{% load static %}
{% block title %} 
Home
{% endblock %}
{% block content %}
<!-- Slideshow container -->
<link rel="stylesheet" href="{% static 'css/slide.css' %}"  >

    
    <!--HTML Code-->
<!-- Slideshow Container Div -->
<div class="container">

    <!-- Full-width images with caption text -->
    <div class="image-sliderfade fade">
        <img src="{% static 'img/image.jpg' %}" style="width:100%">
    </div>
    
    <div class="image-sliderfade fade">
        <img src="{% static 'img/image.jpg' %}" style="width:100%">
    </div>
    
    <div class="image-sliderfade fade">
        <img src="{% static 'img/image.jpg' %}" style="width:100%">
    </div>
    
    
    </div>
    <br>
    
    <!-- The dots/circles -->
    <div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    </div>

    <div class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-10 mx-auto my-2 text-center">
                    <h1 class="text-captitalze font-weight-bold">
                        All Product
                    </h1>
                </div>
            </div>
        </div>
    

    </div>

    <div class="container">
        <div class="row">
            {% for i in '12345678' %}
            <div class="col-9 mx-auto col-md-6 col-lg-3">
                <div class="card mb-5" style="border-color: transparent;">
                    <div class="p-4">                   
                         <img src="{% static 'img/product-1.png'%}" class="card-img-top" alt="">
                    </div>
                    <div class="card-footer d-flex justify-content-between" style="background: transparent;border-color: transparent;">
                        <p class="font-weight-bold mb-0">
                            Dummy check
                        </p>
                        <h5 class="text-info font-italic mb-0">
                           <span class="mr-1">Rs</span>500 
                        </h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <script src="{% static 'js/slide.js' %}"></script>
{% endblock %}