<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <a href="/" style="color:greenyellow;font-weight: 800"><i>OurNursery</i></a>
    <button type="buton" class="navbar-toggler bg-light" data-toggle="collapse" data-target="#nav" name="button"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse justify-content-between" id="nav">   
    <ul class="navbar-nav">
      <li class="nav-item dropdown"><a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle" href="" data-toggle="dropdown">Categories</a>
        <div class="dropdown-menu">
          <a class="dropdowm-item" href ="">Category 1</a><br>
          <a class="dropdowm-item" href ="">Category 2</a><br>
          <a class="dropdowm-item" href ="">Category 3</a><br>
          <a class="dropdowm-item" href ="">Category 4</a><br>
          <a class="dropdowm-item" href ="">Category 5</a><br>
        </div>
      </li>
      <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="">Contact</a></li>
      <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="">About</a></li>
    </ul>
  
    <form class="form-inline ml-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-append">
          <button type="button" class="btn btn-warning" name="button"><i class="fas fa-search"></i></button>
        </div>  
      </div>
    </form>  
  </nav>