body {
    background: #f3f3f3;
  }

  .product_title {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  
  .product_text {
    padding-right: 20px;
  }
  
  .product_description {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .2em;
  }
  